*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.footercontainer
{
  background-image: url("image/pngtree-abstract-pastel-yellow-watercolor-background-image_403180.jpg");
   width: 100%;
   height: 200px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;

}

.firstcolumnword
{  
    
    padding-top: 40px;
    letter-spacing: 2px;
    padding-left: 30px;
    color:rgba(0, 0, 0, 0.712)
    

}
.firstcolumnword>p
{

    height: 80px;
    width: 250px;
padding-top: 5px;
border-bottom: black 1px solid;

}
.firstcolumnicon
{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    position: relative;
    top:15px;
    left: 85px;
    
    
}
.footericon
{   
    margin-right: 10px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #eca012;
    border-radius: 30px;
}
.sosial
{
display: flex;
justify-content: center;
padding-top: 6px;

}
.centercolumns
{  padding-top: 35px;
   display:flex ;
   flex-direction: column;
    color:orange
}
.SearchCategory
 {
     width: 200px;
     height: 60px;
     position: relative;
     top: 35px;
 }
 .secondcolumn
 {
    position: relative; 
    top:25px ;
    left: 25px;
  

 }
 .secondcolumn>h1
 {
     padding-bottom: 10px;
 }
.secondicons
{  
    color: white;
    background-color:#ECA012 ;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: relative;
    top: 30px;
    left: 60px;  

}
.world
{
    width:20px ;
    height: 20px;
    position: relative;
    left: 5px;
    top: 3px;
    
}

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100px;
    background-color: #22444C;
    margin: 0;
    height: 0;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.section{
    width: 100%;
    height: 400px;
    background-color: #C4A17B;
    display: flex;
    justify-content: center;
}
.divImg{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation{
    width: 10%;
    height: 50px;
    background-color: #C4A17B;
    border-radius: 10px;
}
@media  screen and (min-width:1201px) and (max-width:1400px) {
    .header{
     height: 60px;
    }
    .navigation{
        height: 40px;
    }
        
}
@media  screen and (min-width:993px) and (max-width:1200px) {
    .header{
     height: 60px;
    }
    .navigation{
        height: 40px;
    }
        
}

@media  screen and (min-width:577px)and (max-width:992px) {
.header{
 height: 60px;
}
.navigation{
    width: 15%;
    height: 40px;
    background-color: darkorange;
}
    
}

@media screen and (max-width:576px) {
    .header{
        height: 40px;
        
    }
    .navigation{
        width: 15%;
        height: 30px;
        background-color: cyan;
       
    }
}


.img{
    width: 18%;
    height: 150px;
    background: linear-gradient(to right, red ,blue, black);
}
@media only screen and (max-width: 1400px){
    .section{
        width: 100%;
        height: 550px;
        background-color: #C4A17B;
        display: flex;
        justify-content: center;
    }
    .divImg{
        width: 80%;
        height: 550px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .img{
        width: 23%;
        height: 200px;
        background: linear-gradient(to right, red ,blue, black);
        border-radius: 15px;
        
}
@media only screen and (max-width: 1200px){
    .section{
        width: 100%;
        height: 550px;
        background-color: #C4A17B;
        display: flex;
        justify-content: center;
    }
    .divImg{
        width: 80%;
        height: 550px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .img{
        width: 23%;
        height: 170px;
        background: linear-gradient(to right, red ,blue, black);
        border-radius: 15px;
       
}
}
@media only screen and (max-width: 992px){
    .section{
        width: 100%;
        height: 550px;
        background-color: #C4A17B;
        display: flex;
        justify-content: center;
    }
    .divImg{
        width: 80%;
        height: 550px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .img{
        width: 25%;
        height: 150px;
        background: linear-gradient(to right, red ,blue, black);
        border-radius: 15px;
       
}
}

@media only screen and (max-width: 576px){
    .section{
        width: 100%;
        height: 500px;
        background-color: #C4A17B;
        display: flex;
        justify-content: center;
    }
    .divImg{
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .img{
        width: 25%;
        height: 125px;
        background: linear-gradient(to right, red ,blue, black);
        border-radius: 15px;
      
}
}
